# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.bat text
*.dart text
*.java text
*.log text
*.md text
*.py text
*.sh text
*.txt text
*.xml text
*.yaml text
*.yml text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.apk binary
*.bin binary
*.class binary
*.drawio binary
*.otf binary
*.ttf binary
