/* messages.component.css */
.message-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
  }
  
  .message-item {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #eee;
  }
  
  .message-item.message-sent {
    align-self: flex-end;
    background-color: #abb;
  }
  
  .message-content {
    max-width: 80%;
  }
  
  .message-content.sender-name {
    font-weight: bold;
  }
  
  .message-content.content, .message-content.message-time {
    margin-top: 5px;
  }

  .message-return-button {
    margin-top: 15px;
    margin-left: 15px;
    padding: 12px 28px;
    background-color: #444;
    color: #eee;
    cursor: pointer;
  }
  
  