<!-- messages.component.html -->
<div class="message-container">
    <div *ngFor="let message of messages?.messages" class="message-item" [ngClass]="{ 'message-sent': message.sender.id === currentUserId }">
      <div class="message-content">
        <div class="sender-name">{{ message.sender.name }}</div>
        <div class="message-time">{{formatDate(message.dateTime)}} {{ formatTime(message.dateTime) }}</div>
        <div class="content">{{ message.content }}</div>
      </div>
    </div>
  </div>
  